.gallery {
  margin: 50px auto 0 auto;
  width: 100%;
  max-width: 880px;
  justify-items: center;
  align-items: center;
  opacity: 0px;
  list-style: none;
  /*   display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 17px; */
  padding: 0px;
}
@media screen and (min-width: 581px) and (max-width: 879px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
